{% extends "base.html" %}

{% block content %}

<body>
  <div class="card-wrapper">
    <div class="card box">
      <h1 class="center text-white">Log In</h1>
      <form name="login_form">
        <label for="name">User Name</label>
        <input type="text" name="name" class="field" required>
        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>
        <p class="error error--hidden"></p>
        <input type="submit" value="Log In" class="btn field">
        <p class="center text-white">Don't have an account yet? <a href=" /signup" class="text-info">Sign up</a> </p>
      </form>
    </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script>

  jQuery('.validatedSignupForm').validate({
    rules: {
      password: {
        minlength: 5
      },
      cpassword: {
        minlength: 5,
        equalTo: "#password"
      }
    }
  });

  $('button').click(function () {
    console.log($('.validatedSignupForm').valid());
  });

</script>


{% endblock %}