<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/upload.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Code Snippet Recommender</title>
</head>

<body>
  <div class="container-fluid d-flex flex-column">
    <div class="navbar row">
      <div class="title">
        <a href="/">CODE SNIPPET RECOMMENDER</a>
      </div>

      <div class="nav-item dropdown mr-2">
        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
          {{ session['user'].name }} <b class="caret"></b>
        </a>
        <div class="dropdown-menu">
          <a href="/dashboard/upload" class="dropdown-item"><i class="fa fa-user-o"></i> Upload</a>
          <div class="dropdown-divider"></div>
          <a href="/" class="dropdown-item" id="logoutbtn"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>
    </div>

    <div class="centerBody d-flex flex-column">
      <div class="heading">
        Upload Code
      </div>
      <div class="pt-4 pl-4 pr-4">
        <form name="upload_form">
          <div class="d-flex flex-column">
            <div class="p-2">
              <label for="fname" class="pr-2">Tags: </label>
              <input type="text" id="keywords" name="keywords" placeholder="Write tags here separated by comma...">
            </div>

            <div class="p-2">
              <label for="subject">Code: </label>
              <textarea id="codesnippet" name="codesnippet" placeholder="Write code here..."
                class="text_area"></textarea>
            </div>

            <div class=" d-flex justify-content-center">
              <input type="submit" value="Add" class="btn bg-success submit_btn">
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

  <!-- <h2>Upload Code Snippet</h2>
  <h3>Please follow below rules: </h3>
  <h4>List of rules.</h4>
  <p>1. Write keywords as comma separated words.</p>

  <div class="container">
    <form name="upload_form">
      <div class="row">
        <div class="col-25">
          <label for="fname">KeyWords</label>
        </div>
        <div class="col-75">
          <input type="text" id="keywords" name="keywords" placeholder="Write keywords here...">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Code Snippet</label>
        </div>
        <div class="col-75">
          <textarea id="codesnippet" name="codesnippet" placeholder="Write code here..."
            style="height:200px"></textarea>
            </div>
          </div>
          <div class="row">
            <input type="submit" value="Add" class="btn">
          </div>
        </form>
      </div> -->

  <script src="/assets/js/language/python.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/scripts.js"></script>

</body>

</html>